shop/logs
shop/target
shop/.idea
shop/.idea_modules
shop/.classpath
shop/.project
shop/.settings
shop/RUNNING_PID
.DS_Store
shop/bin/
shop/db
shop/.eclipse
shop/lib/
shop/logs/
shop/modules
shop/project/project
shop/project/target
shop/target
shop/tmp/
shop/test-result
shop/server.pid
shop/*.eml
shop/dist/
shop/.cache